.hoverText {
  transition:
    0.05s font-weight,
    0.05s color;
}

.hoverText-default:hover {
  font-weight: 900;
  color: #c7d2fe;
}

.hoverText-default:hover + .hoverText-default {
  font-weight: 500;
  color: #eef2ff;
}

.hoverText-default:hover + .hoverText-default + .hoverText-default {
  font-weight: 300;
  color: #eef2ff;
}

.hoverText-default:has(+ .hoverText-default:hover) {
  font-weight: 500;
  color: #eef2ff;
}

.hoverText-default:has(+ .hoverText-default + .hoverText-default:hover) {
  font-weight: 300;
  color: #eef2ff;
}

.hoverText-orange:hover {
  font-weight: 900;
  color: #ff9e00;
}

.hoverText-orange:hover + .hoverText-orange {
  font-weight: 500;
  color: #f58300;
}

.hoverText-orange:hover + .hoverText-orange + .hoverText-orange {
  font-weight: 300;
  color: #f58300;
}

.hoverText-orange:has(+ .hoverText-orange:hover) {
  font-weight: 500;
  color: #f58300;
}

.hoverText-orange:has(+ .hoverText-orange + .hoverText-orange:hover) {
  font-weight: 300;
  color: #f58300;
}


.hoverText-indigo:hover {
  font-weight: 900;
  color: #b65eff;
}

.hoverText-indigo:hover + .hoverText-indigo {
  font-weight: 500;
  color: #b649ff;
}

.hoverText-indigo:hover + .hoverText-indigo + .hoverText-indigo {
  font-weight: 300;
  color: #b649ff;
}

.hoverText-indigo:has(+ .hoverText-indigo:hover) {
  font-weight: 500;
  color: #b649ff;
}

.hoverText-indigo:has(+ .hoverText-indigo + .hoverText-indigo:hover) {
  font-weight: 300;
  color: #b649ff;
}


.hoverText-red:hover {
  font-weight: 900;
  color: #ff3b3b;
}

.hoverText-red:hover + .hoverText-red {
  font-weight: 500;
  color: #ac0000;
}

.hoverText-red:hover + .hoverText-red + .hoverText-red {
  font-weight: 300;
  color: #ac0000;
}

.hoverText-red:has(+ .hoverText-red:hover) {
  font-weight: 500;
  color: #ac0000;
}

.hoverText-red:has(+ .hoverText-red + .hoverText-red:hover) {
  font-weight: 300;
  color: #ac0000;
}

.hoverText-blue:hover {
  font-weight: 900;
  color: #4993ff;
}

.hoverText-blue:hover + .hoverText-blue {
  font-weight: 500;
  color: #4993ff;
}

.hoverText-blue:hover + .hoverText-blue + .hoverText-blue {
  font-weight: 300;
  color: #4993ff;
}

.hoverText-blue:has(+ .hoverText-blue:hover) {
  font-weight: 500;
  color: #4993ff;
}

.hoverText-blue:has(+ .hoverText-blue + .hoverText-blue:hover) {
  font-weight: 300;
  color: #4993ff;
}